<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="APS-Framework" value="https://nuget.pkg.github.com/APS-Framework/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <APS-Framework>
      <add key="Username" value="x" />
      <add key="ClearTextPassword" value="%APS_NUGET_TOKEN%" />
    </APS-Framework>
  </packageSourceCredentials>
</configuration>